body{
    background-color:#020021;
}

.contenedor {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}
.domboom{
float: left;
}
.menu{
    float: right;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;   
    justify-content: space-around;
    align-items: center;
list-style: none;
width: 30rem;
}

#parte-baja {
    color:gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
 }
    
.button2 {
background-color: #FFFFFF;
border-radius: 20px;
padding: 6;
height: 40px;
width: 100px;
font-size: x-small;
}

.premium {
    color: #FFFFFF;
}